[submodule "src/.vim/bundle/vim-pathogen"]
	path = src/.vim/bundle/vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "src/.vim/bundle/vim-airline"]
	path = src/.vim/bundle/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "src/.vim/bundle/vim-airline-themes"]
	path = src/.vim/bundle/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes.git
[submodule "src/.vim/bundle/auto-ctags.vim"]
	path = src/.vim/bundle/auto-ctags.vim
	url = https://github.com/soramugi/auto-ctags.vim.git
[submodule "src/.vim/bundle/tagbar"]
	path = src/.vim/bundle/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule "src/.vim/bundle/yang.vim"]
	path = src/.vim/bundle/yang.vim
	url = https://github.com/nathanalderson/yang.vim.git
[submodule "src/.vim/bundle/nerdtree"]
	path = src/.vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "src/.vim/bundle/vim-gitgutter"]
	path = src/.vim/bundle/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule "src/.vim/bundle/vim-rooter"]
	path = src/.vim/bundle/vim-rooter
	url = https://github.com/airblade/vim-rooter.git
