# {{ ansible_managed }}

# Make vim the default editor
export EDITOR="vim"

# Terminal
export TERM=xterm-256color

# Append to history
shopt -s histappend
# Larger bash history (allow 32³ entries; default is 500)
export HISTFILESIZE=1000000
export HISTSIZE=1000000
export HISTCONTROL=ignoreboth
# Make some commands not show up in history
export HISTIGNORE="ls:cd:pwd:exit:date:* --help:bg:fg:history"
export HISTTIMEFORMAT='%F %T '

# Store history immediately
export PROMPT_COMMAND='history -a' 

# Trim prompt
export PROMPT_DIRTRIM=2

# Prefer US English and use UTF-8
export LANG="en_US"
export LC_ALL="en_US.UTF-8"

# Highlight section titles in manual pages
export LESS_TERMCAP_md=$ORANGE

# PATH
export PATH=$PATH:~/.local/bin
